@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .overflow-hidden {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
}

.horizontal-pagination {
  display: flex;
  justify-content: end;
  align-items: center;
}

.horizontal-pagination .pagination-previous,
.horizontal-pagination .pagination-next {
  margin: 0 10px; /* Ajuste a margem conforme necessário */
}
